.categories {
  margin-bottom: 40px;

  &__items {
    display: grid;
    min-height: 1145px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  &__item {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;

    }


    &:nth-child(1) {
      grid-row: span 3;


    }


    &:nth-child(3n+3) {
      // grid-column: span 2;
      grid-row: span 2;


    }


  }


}

/* увеличенная картинка */
#magnify {
  display: none;
  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 600px;
  max-height: 600px;
  z-index: 9999;
}

#magnify img {
  width: 100%;
}

/* затемняющий фон */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;

}

/* кнопка закрытия */
#close-popup {
  // width: 30px;
  // height: 30px;
  background-color: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 50px;
  height: 50px;
  background: url(../images/icon/cross.png) no-repeat center center;

  background-size: 16px 16px;
  display: block;


}

@keyframes rota {
  25% {
    transform: rotate(360deg);
  }
}

#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.map {
  margin-bottom: 40px;

  iframe {
    width: 100%;
     height: 450px;
  }
}