@import "vars";




.list-munu {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 20px;
  text-transform: uppercase;

  h6 {
    font-family: "Avenir-Roman";
    font-weight: 700;
  }

  ol li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  li div:nth-child(2) {
    flex: 1 0;
    border-bottom: 1px dotted #000;
    height: 1em;
    margin: 0 .4em;
  }

  div {
    text-align: left;

    p {
      font-size: 10px;
    }
  }
}