html,
body {
  box-sizing: border-box;

  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

*:hover {
  transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  font-weight: normal;

}


a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}


ul,
li,
b {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button,
select {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

path {
  fill: currentColor !important;
}

p {
  margin: 0;
}

input {
  all: unset;
  box-sizing: border-box;
}

body {
  font-family: "Avenir-Light";
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.24em;
  color: #43291b;

  background: #FDFBF8;
  display: flex;
  flex-direction: column;

}

// scroll false
// body.lock {
//   overflow: hidden;

// }


.main {
  flex-grow: 1;
}

.container {
  padding: 0 30px;
  max-width: 1630px;
  margin: 0 auto;
}

.shimmer {
  // text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}