// @import "fonts";
@import "reset";
@import "global";
@import "libs";
@import "vars";
@import "_item";
@import "_menu";
@import "_vouchers";

.header {


  margin-bottom: 90px;

  &__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #FDFBF8;

    z-index: 10;

  }

  &__inner {
    font-weight: 500;
    padding: 20px 0;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 1fr, 100px, 1fr;
    grid-template-columns: 1fr 100px 1fr;

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    .logo-wrap {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

  }

  &__menu-btn {
    display: flex;
    justify-content: end;
  }


}



.menu-btn {


  li {

    @extend %hover;

    &::before {
      height: 1px;
    }
  }

  li~li {
    margin-left: 20px;
  }
}

.modal-menu {
  margin-top: 62px;
  font-family: "Avenir-Roman";
  position: absolute;
  // color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 456%;
  left: -150%;

  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  z-index: 11;

  &__inner {
    padding-top: 20px;
    background-color: #FDFBF8;

    height: 100vh;

    z-index: 8;

  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-around;
    height: 600px;
    padding-bottom: 80px;
    background-image: url(../images/icon/fish-fins-solid.svg);
    background-position: bottom 10px center;
    background-repeat: no-repeat;
    background-size: 60px;
    z-index: 9;

    li {

      @extend %hover;
      font-size: 12px;
      font-family: "Avenir-Book";
    }
  }


}


.header__menu-button__wrapper {
  display: none;
}



.description {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 20px;


  h1,
  h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;

  }

  h6,
  address {
    font-weight: 700;
    font-size: 18px;
  }

  p,
  b {
    padding-bottom: 20px;
  }

}

.logo {
  font-size: 25px;
  font-weight: 700;
}

.menu {
  text-transform: uppercase;
  font-family: "Avenir-Roman";


  li {




    @extend %hover;

    &::before {
      height: 1px;
    }
  }

  &__bottom {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;

    li~li {
      margin-left: 20px;
    }
  }

  &__bottom-list li {


    font-size: 18px;
    padding: 15px 0 3px;

    @extend %hover;

  }


}





.rest {
  &__items {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-transform: uppercase;
  }



  &__item {
    flex: 1 1 auto;

    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3),
      0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    margin: 0 20px;
    // background-color: $bg-color;
    position: relative;

    // transition: 1s;



  }

  &__item-inner {
    display: block;
  }

  &__item-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 430px;
    transition: 1s;
    display: block;

    &:hover {
      transform: scale(1.25);

    }
  }

  &__item-scale {

    // display: inline-block;
    overflow: hidden;

  }



  &__item-info {
    display: block;
    width: 100%;
    background-color: #f2eee8;
    position: absolute;
    bottom: 0;
    // height: 80px;
    padding: 20px 10px 5px;


  }

  &__item-info__wrapper {
    display: flex;
    justify-content: space-between;
  }



  &__item-logo {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }




}

.footer {
  &-bottom {
    padding: 20px 0;
    background-color: $ac-color;
    color: #fff;
  }

  &-top__icon {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;





    svg:hover {
      animation: rota 4s infinite normal;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__list li {
    display: inline-block;

  }

  &__list li~li {
    margin-left: 20px;
  }
}

.form-resrv {
  margin-top: 40px;
  background-color: $bg-color;
  padding: 20px;
  text-align: left;
  margin-bottom: 40px;

  &__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    width: 100%;

    select {
      background-image: url(../images/icon/arrow-selet.svg);
      background-position: right 20px center;
      background-repeat: no-repeat;
      background-size: 15px;
    }



  }

  &__input {
    padding: 10px 15px;

    width: 100%;
    background-color: #fff;

    position: relative;



  }

  select {
    background-color: #fff;




  }



  &__selects {
    grid-template-columns: 1fr 1fr 1fr 1fr;


  }

  &__textarea {
    grid-template-columns: 100%;
  }

  &__button {
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;



    button {
      background-color: #fff;


    }
  }
}

.btn {
  @extend %btn;

}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}





@import "media";